/*************************
    NEWS CSS
*************************/
.greenHeader{
    background-color: #00C853;
    color: #fff;
    padding: 1%;
    padding-left: 8%;
    margin: 0;
}

h2{
    color: #1E88E5;
    text-align: left;
}